@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Tenor+Sans&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Tenor+Sans&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
body {
  overflow: -moz-scrollbars-vertical;
  overflow-x: hidden;
  overflow-y: auto;
  color: #415962;
  background-color: #fffddf;
  font-family: "Public Sans", sans-serif !important
  }
  
  .accordion-button:not(.collapsed)::after {
    transform: none;
}
  .accordion-item{
    margin: 10px;
  }
  .icons img{
     max-width: 120px;
     
  }
  h1{
    font-size: 56px;
    font-weight: 400;
  }
h1,h2,h3{
  font-family: "Tenor Sans", serif;

}
h5{
  font-family: "Tenor Sans", serif;
 
}
p{
  font-family: "Public Sans", sans-serif;
}
.footer p{
  font-size: 14px;
}
.tbmtxt{
  padding: 10px;
  text-align: center;
  font-size: 14px;
  color: #fff;
  background-color: #efa518;
}
  .row {
    display: flex; /* equal height of the children */
  }
  
  .col {
    flex: 1; /* additionally, equal width */
  
    padding: 1em;
    border: solid;
  }
    /* Navbar Styles */
    .navbar {
      background-color: transparent;
      position: absolute;
      width: 100%;
      z-index: 10;
      border-bottom: .2px solid #fff;
    }
    .navbar .nav-link {
      color: white;
      transition: color 0.3s ease;
    }
    .navbar .nav-link:hover {
      color: #efa518;
    }
    .navbar .btn-book {
      background-color: #efa518;
      color: white;
  
    }
    .navbar .btn-book:hover {
      background-color: #ffa62b;
    }
 /* Hero Section */
 .heropage{
  background: url('img/1.jpg') no-repeat center center/cover;
 }




 .herop {
  
  background-color:#fff;
  min-height: 54vh;
  max-height: 54vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  position: relative;
  border-radius: 15px;
}
.herop::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.5); /* dark overlay for readability */
}
.herop-content {
  z-index: 2;
}
.herop h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}
.herop p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}
.herop .btn-primary {
  background-color: #efa518;
  border: none;
 
}
.herop .btn-primary:hover {
  background-color: #ffa62b;
}
.whiteicon{
  background-image: url(img/white.png);
  background-repeat: no-repeat;
  background-size: 200px;
  background-position: right top;
}
.edgep{
  width: 100%;
  min-height: 56vh;
  max-height: 56vh;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  
}

    /* Hero Section */
    .hero {
      overflow: hidden !important;
      background-color:#ffffff00;
      min-height: 93vh;
      max-height: 95vh;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      color: white;
      position: relative;
      border-radius: 15px;
    }
    .hero::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border-radius: 15px;
      background: rgba(0, 0, 0, 0.5); /* dark overlay for readability */
    }
    .hero-content {
      z-index: 2;
    }
    .hero h1 {
      
      margin-bottom: 20px;
    }
    .hero p {
      font-size: 1.2rem;
      margin-bottom: 30px;
    }
    .hero .btn-primary {
      background-color: #efa518;
      border: none;
     
    }
    .hero .btn-primary:hover {
      background-color: #ffa62b;
    }

    .edge{
      width: 100%;
      min-height: 99vh;
      max-height: 100vh;
      padding-top: 30px;
      padding-bottom: 30px;
      padding-left: 30px;
      padding-right: 30px;
      
    }
    .hero_bottom{
      width: 100%;
      z-index: 2;
      position: absolute;
      bottom: 20px;
      border-top: .2px solid #fff;
      padding-top: 20px;
    }
    .borderright{
      border-right: 1px solid #fff;
    }
    .nav-tabs {
      --bs-nav-tabs-border-width: #fff;
    }
    .icons{
      text-align: center;
      padding: 30px;
      margin:  30px;
    }
    .icons img{
      padding: 30px;
      opacity: 30%;
    }
    .iconsp img{
    
      opacity: 30%;
    }
    .icons img:hover{
    
      opacity: 50%;
    }
    .twocolump{
      margin: 0px 10px;
    }
    .twocolum{
      margin: 0px 100px;
    }
    .bgcolor{
     background-color: #f5e3c5;
     padding: 60px 30px;
     text-align: center;
     position: relative;
     min-height: 450px;
     border-radius: 15px;
     box-shadow: 0px 4px 9px 5px rgb(36 36 36 / 24%)
    }
    .bgcolor img{
      max-width:90%;
      opacity: 30%;
      position: absolute;
      left: 0px;
      bottom: 0;
    }
  .columimg img{
      max-width: 100%;
      object-fit: cover;
      transition: transform 1s; /* Animation */
   
      height: 100%;
      border-radius: 15px;
      
  }
  .columimg{
    margin: 0 10px;
    overflow: hidden;
    padding: 0px;
    display: block;
    border-radius: 15px;
    box-shadow: 0px 4px 9px 5px rgb(36 36 36 / 24%)
  }
  .columimg img:hover{
    transform: scale(1.1);
  }
  .lrgbg{
    background-color:  #f9e6c7b8;
    width: 100% !important;
    padding: 60px 0px;
  }
.hight{
height: 50px !important;
}
.accordion-item:hover, .accordion-button:hover{
  color: #fff;
  background-color:#efa518 ;
}
.accordion-body, .accordion-button:not(.collapsed){
  color: #fff;
  background-color:#efa518 ;
  box-shadow:none;
  border-radius: 30px;
}
.accordion button{
  font-size: 28px;
  
}

.accordion-button::after, .accordion-button::before{
  color: #fff;
  
}
.btmcrvimg{
  
  position: relative;
  height: 100%;
  left: 30%;

}
.btmcrvimg img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  bottom:-130px;
 max-width: 80%;
  border-radius: 15px 15px 340px 340px;
  box-shadow: 0px 4px 9px 5px rgb(36 36 36 / 24%)
}
.testo{
  height: auto;
  min-height: 540px;
  padding: 30px;
  margin: 30px;
  position: relative;
  max-width: 100%;
  transition: box-shadow 0.3s ease;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
  background-color: #ffffff00;
}
.nav-link{
  color: #000;
}
.deatils{
 float: right;
 padding: 30px;
 right: 0px;
    width: 100%;
    position: absolute;
    bottom: 0px;
    max-width: 80%;
    border-radius: 10px 0px 10px 0px;
    background-color: #efa518;
    color: #fff;
  
    
}
.deatils span{
  font-weight: 500;
}
.testo{
  box-shadow: 0px 4px 9px 5px rgb(36 36 36 / 24%)
}
.user1{
  background-image: url(img/home-1-3-771x1024.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}
.user2{
  background-image: url(img/home-1-5.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}
.user3{
  background-image: url(img/home-1-4.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}
.us1{

  background-image: url(img/home-1-3-771x1024.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
 
}

.us2{
  background-image: url(img/home-1-5.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
   
}
.us3{
  background-image: url(img/home-1-4.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.us4{
  background-image: url(img/home-1-3-771x1024.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
   
}
.Box{
  max-width:360px ;
  min-width:200px ;
  min-height: 500px;
  padding: 30px;
  position: relative;
  DISPLAY: flex;
  margin: 30px 0;
  border-radius: 15px;
  box-shadow: 0px 4px 9px 5px rgb(36 36 36 / 24%);
}
.bx{
  text-align: center;
  padding: 55px 30px 54px;
    WIDTH: 100%;
    background-color: #fff;
    align-self: flex-end;
    transition: 0.3s ease;
    border-radius: 15px;
}
.bx:hover{
  transform: translate(10px,10px);

}
.footer{
  background-image: url(img/footer-removebg-preview.png);
  background-color: #f5e3c5;
  padding: 60px;
  background-position: left top;
  background-repeat: no-repeat;
  position: relative; 
text-align: center;

}
.footer_logo{
  position: absolute; 
                    bottom: 0; 
  align-self: flex-end;
 bottom: 30px;
}
.footer_logo img{
  margin-bottom: 30px;
 
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #efa518;
  color: white;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 25px;
}

#myBtn:hover {
  background-color: #555;
}
.accordion-item{
  background-color: #efa518;
}
.accordion-item:first-of-type .accordion-button {
  border-radius:15px !important;
 
}
.accordion-item:first-of-type .accordion-button{
  background-color: #efa518;
  color: #fff;
}
.accordion-header, .accordion-item{
  border-radius: 15px !important;
}

.accordion-item .accordion-button {
  border-radius:15px !important;
 
}
.accordion-item .accordion-button{
  background-color: #efa518;
  color: #fff;
}
#img1 {display:block;}
#img2 {display:none}

/* Slideshow container */
.slideshow-containert {
  position: relative;
}

/* Slides */
.mySlidest {
  display: none;
  padding: 80px;
  text-align: center;
}

/* nextt & prevtious buttons */
.prevt, .nextt {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #888;
  font-weight: bold;
  background-color: #44444400;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  text-decoration: none;
}

/* Position the "nextt button" to the right */
.nextt {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prevt:hover, .nextt:hover {
  background-color: #44444400;
  color: #888;
  text-decoration: none;
}

a{
  text-decoration: none;
}
/* The dot/bullet/indicator container */
.dottt-container {
    text-align: center !important;
    padding: 20px;
    background: #ddd;
}

/* The dots/bullets/indicators */
.dott {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.dott:active, .dott:hover {
  background-color: #fffddf;
}

/* Add an italic font style to all quotes */
q {font-style: italic;}

/* Add a blue color to the author */
.author {color: cornflowerblue;}
.price{
  min-height: 500px;
  margin: 30px;
  padding: 30px;
border-radius: 10px;
  text-align: center;
  line-height: 35px;
}
.cost1{
  
  border: 1px solid #85a3b3;
}
.cost2{
  background-color: #F2FAFD;
  border-color: #FFFFFF;
}
.cost3{
  background-color: #FFF9F5;
  border-color: #FFFFFF;
}
.package span{
  font-family: "Cormorant Garamond", serif;
  font-size: 80px;
  color: #D1AB7D;
}
.package .btn-primary {
  background-color: #efa518;
  border: none;
}
.card{
  max-width:560px ;
  margin: 30px;
  --bs-card-bg:#fffddf;
  --bs-card-border-width:none;
}
.bg-transparentl {
  opacity: 1;
    background-image: linear-gradient(#000220, #000220);
    mask-image: linear-gradient(to right, #000220, transparent);
    filter: invert(1);
    z-index: 999;
    left: 30px;
}
.bg-transparentr {
  opacity: 1;
    background-image: linear-gradient(#000220, #000220);
    mask-image: linear-gradient(to left, #000220, transparent);
    filter: invert(1);
    z-index: 999;
    right: 30px;
}
#priceCarousel .nextt{
  left: 20px;


}
#priceCarousel .prevt{

  right: 20px;
}



.carousel-control-prev-icon {
  left: -60px;
  position: relative;
}
.carousel-control-next-icon {
  right: -60px;
  position: relative;
}
.backvideo{
  position:absolute;
  top:0;
  left:0;
  height: 100%;
 min-width: 100%;
  z-index: -100;
  object-fit:cover;
  background-size: cover;
  overflow: hidden;
 
}
.mySlidest img{ 
  width: 300px;
}

@media (max-width: 767px) {
  .carousel-inner .carousel-item > div {
    display: none;
  }
  .carousel-inner .carousel-item > div:first-child {
    display: block;
  }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {

  .carousel-inner .carousel-item-end.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(25%);
  }

  .carousel-inner .carousel-item-start.active, 
  .carousel-inner .carousel-item-prev {
    transform: translateX(-25%);
  }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start { 
  transform: translateX(0);
}
    @media only screen and (max-width: 600px) {
 
.mySlidest img{ 
  width: 200px;
}
      #priceCarousel .carousel-inner .carousel-item.active, #priceCarousel .carousel-inner .carousel-item-next,#priceCarousel .carousel-inner .carousel-item-prev{
        display: block !important;
        }

      .ms-3{
        margin-left: 0rem !important;
      }
      
      h1 {
        font-size: 35px;
        font-weight: 400;
    }

      .bg-transparentl {
     background-image: none;
     left: -15px;
          z-index: 999;
      }
      .bg-transparentr {
        background-image: none;
        right: -15px;
          z-index: 999;
      }
      .carousel-control-prev-icon {
        left: -15px;
        width: 20px;
        z-index: 999;
        position: relative;
      }
      .carousel-control-next-icon {
        right: -15px;
        
        width: 20px;
        z-index: 999;
        position: relative;
      }


      .card{
        margin: 0px;
      }
      #img1 {display: none;}
    #img2 {display: block;}
      .twocolum{
        margin: 0px 10px;
      }
      .footer{
        min-height: 800px;
      }
      .footer_logo{
      position: relative;
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
      .edgep{
        width: 100%;
        min-height: 100vh;
        max-height: 100vh;
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;
        
      }
      .heropage{
        background: url('img/1.jpg') no-repeat center center/cover;

      }
      .herop {
       
        min-height: 100vh;
        max-height: 100vh;
      border-radius: 0px;
      }
      .edge{
        width: 100%;
        min-height: 100vh;
        max-height: 100vh;
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;
        
      }
      .hero {
       overflow: hidden !important;
        min-height: 100vh;
        max-height: 100vh;
      border-radius: 0px;
      }
      .hero::before { 
        border-radius: 0px;
      }
      .herop::before { 
        border-radius: 0px;
      }
      .borderright{
        border-right: 1px solid #ffffff00;
        margin: 10px;
      }
      .navbar-expand-lg{
        background-color:#00000073 ;
        color: #000;
      }
      .navbar .nav-link{
        color: #ffffff;
      }
      .icons{
        text-align: center;
        padding: 10px;
        margin:  10px;
      }
      .twocolum{
        margin:20px  20px;
      }
      .bgcolor{
        margin: 20px 10px;
        padding: 60px 20px;
      }
      .btmcrvimg{
       left: 0px;
        height: 300px;
       max-width: 80%;
       margin-left: auto;
       margin-right: auto;
      }
      .btmcrvimg img{
        display: block;
        position: relative;
        max-width: 100%;
        border-radius: 15px 15px 340px 340px;
        box-shadow: 0px 4px 9px 5px rgb(36 36 36 / 24%);
      }
      .lrgbg{
        width: 98% !important;
       
      }
      .navbar-toggler-icon{
        filter: invert();
      }
      .navbar-toggler{
        border: var(--bs-border-width) solid rgb(255 255 255)
      }
    }
